@import './vars'

input
  padding-left .5em
  display flex
  flex-grow 1
  height 30px
  border 1px solid #565f66
  background lighten($color-component-background, 5%)
  font-weight bold
  font-family 'Roboto', 'Raleway', sans-serif
  letter-spacing .5px
  border-radius 2px
  margin 0px
  color white
  transition all .2s
  font-size 14px

  &:focus
    outline none
    border 1px solid lighten(#565f66, 50%)
    box-shadow none

  &:disabled
    cursor not-allowed