@import './vars'
@import './button'
@import './input'
@import './transitions'
@import './typography'
@import './modal.styl'
@import './component.styl'


html
  height 100%
   
body
  height 100%
  margin 0px
  background-color $color-background
  overflow hidden
  
.desktop
  @media screen and (max-width: 599px)  
    display none !important
.mobile
  @media screen and (min-width: 600px)  
    display none !important


