@import './vars'
@import url("https://fonts.googleapis.com/css?family=Cinzel")
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")


p, h1, h2, h3, h4, h5, h6, span, td, th
  margin 0px
  padding 0px
  color $color-text
  font-family 'Open Sans', sans-serif 
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.button
  font-family 'Open Sans', sans-serif 
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

input
  font-family 'Open Sans', sans-serif 
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
