// Colors
$color-green = #84f766
$color-green-dark = #4da53c
$color-red = #ff6939
$color-red-dark = darken(#ff6939, 10%)
$color-orange = #ff7a38
$color-blue = #4dccff
$color-purple = #6e66ff
$color-black =  rgba(44,53,57, 1)
$color-yellow = rgba(255,191,0, 1)

// GDAX
$color-gdax-background = #49535B
$color-gdax-component-background = #1E2B34
$color-gdax-component-header = #2F3D45

// App
$color-background = lighten($color-gdax-component-background, 5%)

// Components
$color-component-background = $color-gdax-component-background
$color-component-header = $color-gdax-component-header


// Typography
$color-text = rgba(255, 255, 255, .85)
$color-text-invert = rgba(0, 0, 0, .85)